.container {
  display: grid;
  grid-template-columns: minmax(100px, 25%) 1fr;
  height: 400px;
}

.content {
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
}

nav a {
  padding: 7px 10px;
  color: hsl(300, 100%, 95%);
  font-size: 20px;
}

a:hover {
  background-color: rgba(255, 255, 255, 0.637);
  color: rgb(77, 0, 77);
  text-decoration: none;
}

nav {
  height: 100%;
}

.flex-container {
  display: flex;
  flex-direction: column;
}