:root {
  --blue-back: hsl(177, 58%, 80%);
  scrollbar-color: hsl(295, 83%, 45%) var(--blue-back);
  scrollbar-width: auto;
}

body {
  background-color: rgb(255, 199, 199);
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: black;
  background-image: url("../img/wood_texture_back.jpg");
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

article {
  background-color: hsla(39, 100%, 88%, 0.63);
  margin: 15px 10%;
  padding: 10px;
}

h1 {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Sofia", "Roboto", Arial, Helvetica, sans-serif;
  font-size: 19px;
}

.container {
  resize: both;
  overflow: auto;
}

.sans-serif {
  font-family: "Roboto", Helvetica, Arial;
}

a {
  text-decoration: none;
  color: rgb(65, 139, 22);
}

a:hover {
  font-family: "Montserrat";
  font-weight: bolder;
  font-size: 25px;
  color: purple;
}

.green {
  background-color: lightgreen;
  border: 1px dashed green;
}

.pink {
  background-color: lightpink;
  border: 1px dashed rgb(211, 128, 141);
}

.blue {
  background: skyblue;
  border: 1px dashed rgb(53, 130, 160);
}

.purple {
  background-color: rgb(214, 122, 214);
  border: 1px dashed purple;
}

.yellow {
  background-color: rgb(250, 230, 118);
  border: 1px dashed darkgoldenrod;
}

.violet {
  background-color: hsl(281, 23%, 61%);
  border: 1px dashed darkviolet;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: hsl(34, 66%, 7%);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, rgb(255, 145, 0), transparent);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(34, 100%, 18%);
}