.container {
  align-content: normal;
  background-color: gold;
  display: grid;
  grid-template-columns: repeat(4, auto);
  height: 400px;
  justify-content: normal;
  padding: 12px;
  min-width: 90px;
  min-height: 90px;
}

.container div {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.grid-item1 {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: blueviolet;
}

.grid-item1:hover {
  background-color: rgb(187, 119, 250);
}

.grid-item2 {
  background-color: turquoise;
}

.grid-item2:hover {
  background-color: rgb(109, 255, 240);
}

.grid-item3 {
  background: rgb(235, 94, 94);
}

.grid-item3:hover {
  background-color: hsl(0, 100%, 71%);
}

.grid-item4 {
  grid-column-start: 2;
  grid-column-end: 4;
  background-color: gold;
}

.grid-item4:hover {
  background-color: hsl(16, 100%, 70%);
}

.grid-item5 {
  grid-area: 4 / 5 / 2 / 4;
  background-color: green;
}

.grid-item5:hover {
  background-color: rgb(32, 236, 32);
}

.grid-item6 {
  grid-row: 2 / 4;
  background: rgb(153, 226, 42);
}

.grid-item6:hover {
  background-color: hsl(84, 100%, 68%);
}

.grid-item7 {
  grid-column: 2 / span 2;
  background: rgb(220, 20, 20);
}

.grid-item7:hover {
  background-color: hsl(0, 100%, 65%);
}
