h1 {
  font-size: 32px;
}

.container {
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
  font-size: 20px;
  height: 400px;
  min-height: 210px;
  min-width: 310px;
}

.item {
  text-align: center;
  padding: 1rem;
}

header {
  grid-column: 1 / 4;
}

footer {
  grid-column: 1 / 4;
}

div.left {
  grid-column: 1 / 2;
}

div.middle {
  background: lightcoral;
  border: 1px dashed rgb(197, 83, 83);
}

div.right {
  background: rgb(250, 250, 177);
  border: 1px dashed rgb(175, 175, 23);
}

/* MEDIA QUERIES */

@media only screen and (max-width: 500px) {
  .container {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .item {
    padding: 1.5rem 0.5rem;
  }
}
