.container {
  display: grid;
  justify-self: center;
  grid-template-columns: minmax(150px, 25%) 1fr;
  height: 400px;
  resize: both;
  overflow: auto;
}

.content {
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
}

nav a {
  padding: 7px 10px;
  color: hsl(300, 100%, 95%);
  font-size: 20px;
}

a:hover {
  background-color: rgba(255, 255, 255, 0.363);
  color: rgb(77, 0, 77);
  font-size: 22px;
  text-decoration: none;
}

.flex-container {
  display: flex;
  flex-direction: column;
}