.container {
  display: grid;
  place-items: center;
  height: 500px;
  min-height: 420px;
  min-width: 240px;
}

.card {
  width: clamp(23ch, 50%, 43ch);
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.visual {
  height: 100px;
  width: 100%;
}

.content {
  padding-top: 7px;
}